@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

body {
  background-color: #fbfbfb;
}

.dashMain {
  min-height: 100vh;
}

.dashboard {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: 8px;

  .sideNav {
    min-width: 25vw;
    background-color: #ffffff;

    &.showNavBar {
      @include m.respond-to(mobile) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    @include m.respond-to(mobile) {
      display: none;
    }
  }

  .main {
    flex-grow: 1;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;

    @include m.respond-to(mobile) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
